p{  
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    width: 50%;
}

h1, h3{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align: center;
}

h2, label{
    font-family: 'Titillium Web', sans-serif;
}

label{
    font-size: 1.2em;
}

body{
    padding-left: 15%;
    padding-right: 15%;
}

.formulari{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulari input[type=submit]{
    width: 150px;
    background-color: #f0f0f0;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    padding: 5px;
}

.formulari input[type=submit]:hover{
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select, input[type=date]{
    height: 30px;
}

textarea{
    resize: none;
    height: 80px;
}

.tasca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tasca-m6{
    background-color: #007b83;
    color: white;
    border: 3px solid #003135;
}
.tasca-m6 input[type=submit]{
    background-color: #003135;
    color: white;
}

.tasca-m7{
    background-color: #84bfc3;
    border: 3px solid #274f52;
}
.tasca-m7 input[type=submit]{
    background-color: #274f52;
    color: white;
}

.tasca-m9{
    background-color: #ff8b66;
    border: 3px solid #c54216;
}
.tasca-m9 input[type=submit]{
    background-color: #c54216;
    color: white;
}

.tasca-m14{
    background-color: #215cc0;
    border: 3px solid #0f377c;
    color: white;
}
.tasca-m14 input[type=submit]{
    background-color: #0f377c;
    color: white;
}

input[type=submit]{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
}

.tasca-btn{
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: tomato;
}

.info{
    width: 70%;
    padding-left: 20px;
}

.info h3{
    margin: 0;
}